<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated vm -->
      <package
            uri="http://vendsys"
            class="VM_KranthiRekala.vendsys.VendsysPackage"
            genModel="model/vm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated vm -->
      <package
            uri="http://extern"
            class="VM_KranthiRekala.extern.ExternPackage"
            genModel="model/vm.genmodel"/>
   </extension>
</plugin>
